html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--darkBackground);
    color: var(--textLight);
    font-family: var(--font-secondary);
    margin: 0;
    padding-top: 90px;
    position: relative;
    transition: background-color 0.4s ease, color 0.4s ease;
}

main {
    position: relative;
    z-index: 1;
}

